body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(87, 85, 85);
  padding: 1vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.location-container {
  font-size: 2vh;
  border: 1px black solid;
  margin: 1vh;
  background-color: #959595;
}

.location-header {
  margin: 1vh 0vh 0vh 0vh;
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.location-header p {
  margin: inherit;
  padding-left: 1vh;
}

.location-header .idga-add-button {
  margin-left: auto;
  margin-right: 1vh;
}

.sector-header {
  margin: 1vh 0vh 1vh 0vh;
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.sector-header p {
  margin: inherit;
  padding-left: 1vh;
}

.sector-header .idga-add-button {
  margin-left: auto;
  margin-right: 1vh;
}

.sector-container {
  border-bottom: 1px black solid;
}

.subsector-container {
  margin: 1vh 0vh 1vh 0vh;
  display: inline-flex;
  width: 100%;
  padding-bottom: 5px;
}

.subsector-container p {
  margin: inherit;
  padding-left: 1vh;
}

.subsector-container .idga-edit {
  margin-left: auto;
  margin-right: 1vh;
}

.idga-action-button {
  padding: 1vh;
}

.idga-headear {
  display: inline-flex;
  width: 100%;
}

.idga-headear p {
  font-size: 5vh;
  margin: auto;
}

.idga-add-button {
  float: left;
}

.operations-manager {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.operations-manager-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.operations-manager .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.operations-manager .close:hover,
.operations-manager .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.accordion {
  margin: 2vh auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
}
